.load {
  position: absolute;
  color: chartreuse;
  height: 50px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  border-left: 1px solid rgba(255, 255, 255, 0.45);
  z-index: 2;
}
